.image-container {
    width: 500px;
    height: 300px;
    background-image: url('slike/Banner.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.container{
    display: flex;
    width: 429px;
    height: 1060px;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    border-left: 505px;
    border-right: 505px;
}
.button{
    display: flex;
    padding: 12px 8px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    align-self: stretch;
    gap: 63px;
}